.navLinkContainer {
  position: relative;
  display: inline-block;
}

.navLink {
  position: relative;
  font-weight: 500;
  color: #374151;
  text-decoration: none;
  padding: 4px 0;
  display: inline-block;
  transition: color 0.2s ease;
}

:global(.dark) .navLink {
  color: #D1D5DB;
}

.navLink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -6px;
  left: 0;
  background-color: #0b803c;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(11, 128, 60, 0.5);
}

.navLink:hover {
  color: #0b803c;
}

:global(.dark) .navLink:hover {
  color: #0b803c;
}

.navLink:hover::after {
  transform: scaleX(1);
}

.navLink.active {
  color: #0b803c;
}

:global(.dark) .navLink.active {
  color: #0b803c;
}

.navLink.active::after {
  transform: scaleX(1);
}